<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{status}} Clients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content color="light">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar animated></ion-searchbar>
    <ion-card *ngFor="let client of clients">
      <ion-item>
        <ion-label>
          <h3>{{client.firstName}} {{client.lastName}} - {{("000"+client.clientId).slice(-4)}} </h3>
          <p>{{client.address}}, {{client.phoneNumber}}</p>
          <ion-chip *ngIf="client.status == 'On Track'" color="success">
            <ion-label>{{client.status}}</ion-label>
          </ion-chip>
          <ion-chip *ngIf="client.status == 'Overdue'" color="danger">
            <ion-label>{{client.status}}</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>

      <ion-footer>
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col style="text-align: center">
              <ion-button size="small" color="tertiary" shape="round" [routerLink]="['/menu/dashboard/client-list/'+client.status+'/lista/',client.id]">
                <ion-icon slot="icon-only" name="list"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col style="text-align: right" ></ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ion-card>
  </ion-content>
</ion-content>
