<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form [formGroup]="editClientForm" (ngSubmit)="editclient()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">
              First Name
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="firstName"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              Last name
            </ion-label>
            <ion-input formControlName="lastName"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              Address
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="address"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              Phone number
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="phoneNumber"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One" formControlName="gender">
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Others">Others</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-button shape="round" type="submit" expand="full" color="primary"
                        [disabled]="editClientForm.pristine || editClientForm.invalid">
              <ion-label>Save</ion-label>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>