<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>New Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form [formGroup]="newListaForm" (ngSubmit)="createlista()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label position="floating">
              Description
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              Alias
            </ion-label>
            <ion-input formControlName="alias"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              Total Amount
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="totalAmount"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              Start Date
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime formControlName="startDate" displayFormat="DDDD MMM D, YYYY" min="2005"></ion-datetime>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              End Date
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime formControlName="endDate" displayFormat="DDDD MMM D, YYYY" min="2005"></ion-datetime>
          </ion-item>
          
          <ion-item lines="full">
            <ion-label position="floating">
              DPA
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="dpa"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-button shape="round" type="submit" expand="full" color="primary"
                        [disabled]="newListaForm.pristine || newListaForm.invalid">
              <ion-label>Save</ion-label>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>