<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Collector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar animated></ion-searchbar>
  <ion-card *ngFor="let collector of collectors">
    <ion-item>
      <ion-label>
        <h3>{{collector.firstName}} {{collector.lastName}} </h3>
        <p>{{collector.address}}, {{collector.phoneNumber}}</p>
        <ion-chip color="success">
          <ion-label>{{collector.status}}</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  
    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="secondary" shape="round" [routerLink]="['/menu/collector/edit-collector/', collector.id]">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col style="text-align: center">
            <ion-button size="small" color="tertiary" shape="round" [routerLink]="['/menu/collector/assign-client/'+collector.id+'/'+collector.uuid]">
              <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-button size="small" color="danger" shape="round" (click)="deleteCollector(collector.id)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small">
    <ion-fab-button routerLink="/menu/collector/new-collector" routerDirection="forward">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
