<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Assign Client</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="changeStatus()">{{status}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let client of clients; let i = index">
      <ion-label>{{client.firstName}} {{client.lastName}} - {{("000"+client.clientId).slice(-4)}}</ion-label>
      <ion-checkbox [(ngModel)]="client.is_assigned"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small">
    <ion-fab-button (click)="doSave()" routerDirection="forward">
      <ion-icon name="archive-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
