<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pending Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let client of clients">
    <ion-item>
      <ion-label>
        <h3>{{client.firstName}} {{client.lastName}} - {{("000"+client.clientId).slice(-4)}} </h3>
        <p>{{client.address}}, {{client.phoneNumber}}</p>
        <ion-chip *ngIf="client.listaStatus == 'pending'" color="danger">
          <ion-label>{{client.listaStatus}}</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="text-date">Lista ID: {{client.listaId}} {{client.alias}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="text-date">Alias: {{client.alias}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="text-date">Start Date: {{client.startDate | date:'MMM dd yyyy'}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="text-date">End Date: {{client.endDate | date:'MMM dd yyyy'}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="text-date">Description: {{client.description}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="dark-blue">
          <ion-label class="amount-size text-format" full no-margin>Total Amount: {{client.totalAmount}}</ion-label>
        </ion-col>
        <ion-col class="sky">
          <ion-label class="amount-size text-format" full no-margin>DPA: {{client.dpa}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="sapphire">
          <ion-label class="amount-size text-format" full no-margin>Amount Paid: {{client.amountPaid}}</ion-label>
        </ion-col>
        <ion-col class="{{client.color}}">
          <ion-label class="amount-size text-format" full no-margin>Balance: {{client.balance}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="secondary" shape="round" (click)="doApprove(client.id, client.myListaSnapId)">
              <ion-icon name="thumbs-up-sharp"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-button size="small" color="danger" shape="round" (click)="doReject(client.id, client.myListaSnapId, client.clientStatus)">
              <ion-icon name="thumbs-down-sharp"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>
</ion-content>