<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="!(todayCollection.length==0)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
    <ion-item>
      <ion-label>{{todayDate | date:'fullDate'}}	</ion-label>
    </ion-item>
    <ion-card *ngFor="let client of todayCollection; let i=index">
      <div *ngIf="i==0">
        <ion-item>
          <ion-label>
            <h3>{{client.firstName}} {{client.lastName}}</h3>
            <p>{{client.listaId}} {{client.alias}}</p>
            <p>Balance: {{client.balance}}</p> 
            <p>Default Amount: {{client.dpa}}</p> 
          </ion-label>
        </ion-item>
        <ion-footer>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button shape="round" expand="full" color="danger" (click)="notPaidButton(client.id, client.balance, client.amountPaid)">
                  <ion-label>Not Paid</ion-label>
                </ion-button>
              </ion-col>
              <ion-col style="text-align: center">
                <ion-button shape="round" expand="full" color="primary" (click)="PaidByDPAButton(client.id, client.balance, client.dpa, client.amountPaid)">
                  <ion-label>Paid</ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item lines="full">
                  <ion-label position="floating">
                    Enter different Amount
                    <ion-text color="danger" >*</ion-text>
                  </ion-label>
                  <ion-input type="number" name="amount" #amount></ion-input>
                </ion-item>  
              </ion-col>
              <ion-col style="text-align: center">
                <ion-button shape="round" expand="full" color="primary" (click)="PaidByAmountButton(client.id, client.balance, amount, client.amountPaid)">
                  <ion-label>Paid</ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
      </div>
  </ion-card>
  </ion-content>
  <ion-content color="light" *ngIf="(todayCollection.length==0)">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="(totalCollection>=0)">  
      <ion-item>
          <p>Congrats! You have now completed the collection for {{todayDate | date:'fullDate'}}. Your total
            collection is <b>{{totalCollection}}</b>.</p>
      </ion-item>
    </div>
</ion-content>