.text-date{
    font-size: 0.850em;
    font-weight: 600;
}
.amount-size{
    font-size: 0.875em;
}
.light-blue{
    background-color: #D9E4F5;
}
.sky{
    background-color: #c4eaf3;
}
.sapphire{
    background-color: #aaebf3;
}
.dark-blue{
    background-color: #A8D2E0;
}
.primary{
    background-color: #009FDA;
}
.success{
    background-color: #00ff00;
}
.danger{
    background-color: #eb445a;
}

.text-format{
    text-align: center; font-weight: 600; color: #000;
}
