<ion-content>
    <ion-grid class="grid1">
      <ion-row class="row1">
          <ion-col class="img-container">
            <img [src]="imgSrc">
          </ion-col>
      </ion-row>
        <ion-row class="row2">
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h1>Forgot Password</h1>
                    </ion-col>
                </ion-row>
                <form>
                  <ion-row>
                      <ion-col>
                          <ion-list>
                            <ion-item>
                                <ion-icon name="person" class="icon-login"></ion-icon>
                                <ion-input name="user" #email type="text" required placeholder="Email"></ion-input>
                            </ion-item>
                          </ion-list>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                          <ion-button type="submit" (click)="onforgotPassword(email)" fill="solid" expand="full">
                              Send
                          </ion-button>
                      </ion-col>
                  </ion-row>
                </form>
                <ion-row>
                    <ion-col>
                        <ion-label>
                            <h3 (click)="onLogin()">Back to Login</h3>
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-slide>
</ion-content>