<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-text class="text-format">
            Client Name: {{clientName}}, Start Date: {{startDate | date:'fullDate'}}, End Date: {{endDate | date:'fullDate'}}, 
            Total Amount Lent: {{totalAmount}}, Daily Payment Amount: {{dpa}}, Amount Paid:{{amountPaid}}, 
            Balance: {{balance}}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="text-format">
            Date
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text class="text-format">
            Amount Paid
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text class="text-format">
            Action
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let c of collection">
        <ion-col>
          {{c.createdAt | date:'fullDate'}}
        </ion-col>
        <ion-col>
          {{c.amount}}
        </ion-col>
        <ion-col>
          <ion-button size="small" color="danger" shape="round" (click)="deleteCollection(c.id, c.amount)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- fab placed to the bottom end -->
  <ion-button ion-button full (click)="createPdf()" shape="round" expand="full" color="primary">Create PDF</ion-button>
    <ion-button ion-button full (click)="downloadPdf()" shape="round" expand="full" color="primary" [disabled]="!pdfObj">Download PDF</ion-button>
</ion-content>