.grid1 {
    height: 100%;
    padding: 0.000em;
}

.contaier-login {
    width: 90%;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}


.row1 {
    height: 50%;
    background-color: #002244;
}
.row2 {
    height: 50%;
}

ion-icon {
    margin-right: 0.938em;
}

ion-button {
    margin-top: 0.313em;
    margin-bottom: 0.938em;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0.000em !important;
}
.img-container {
    display: flex;
    justify-content: center;
    // align-items: center; this only if you want to vertical align it to the center too
 }

 img{
     width: 9.375em;
     height: 9.375em;
 }