<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ranking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">

      <ion-item *ngFor="let r of ranking">
        <ion-label>
          <!--Rank {{ r.rank }}:--> {{ r.firstName }} {{ r.lastName }}
        </ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>

    </ion-reorder-group>
  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small">
    <ion-fab-button (click)="getList()">
      <ion-icon name="archive-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
