<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar animated></ion-searchbar>
  <ion-card *ngFor="let client of clients">
    <ion-item>
      <ion-label>
        <h3>{{client.firstName}} {{client.lastName}} - {{("000"+client.clientId).slice(-4)}} </h3>
        <p>{{client.address}}, {{client.phoneNumber}}</p>
        <ion-chip *ngIf="client.status == 'active'" color="success">
          <ion-label>{{client.status}}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="client.status == 'inactive'" color="danger">
          <ion-label>{{client.status}}</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  
    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="secondary" shape="round" [routerLink]="['/menu/client/edit-client/', client.id]">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col style="text-align: center">
            <ion-button size="small" color="tertiary" shape="round" [routerLink]="['/menu/client/lista/',client.id]">
              <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col style="text-align: right" >
            <ion-button size="small" color="danger" shape="round" (click)="deleteClient(client.id)" *ngIf="role === 'administrator'">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small" *ngIf="role === 'administrator'">
    <ion-fab-button routerLink="/menu/client/new-client" routerDirection="forward">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
