<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Collector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form [formGroup]="editCollectorForm" (ngSubmit)="editCollector()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label fixed>Avatar</ion-label>
            <ion-avatar item-end>
              <img [src]="currentImage">
            </ion-avatar>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              First Name
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="firstName"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              Last Name
            </ion-label>
            <ion-input formControlName="lastName"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              Address
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="address"></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              Phone number
            </ion-label>
            <ion-input formControlName="phoneNumber"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One" formControlName="gender">
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Others">Others</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-button shape="round" type="submit" expand="full" color="primary"
                        [disabled]="editCollectorForm.pristine || editCollectorForm.invalid">
              <ion-label>Save</ion-label>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
  