<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>CLIENT</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid *ngFor="let client of clients">
        <ion-row>
          <ion-col size="4">
            <h1><ion-icon name="people-sharp" color="primary"></ion-icon><br>
              {{client.totalClient}}<br>
              <ion-button color="primary" [routerLink]="['/menu/client']">Total</ion-button>
            </h1>
          </ion-col>
          <ion-col size="4">
            <h1><ion-icon name="person-sharp" color="secondary"></ion-icon><br>
              {{client.onTrackClient}}<br>
              <ion-button color="secondary" [routerLink]="['/menu/dashboard/client-list/', 'On Track']">On Track</ion-button>
            </h1>
          </ion-col>
          <ion-col size="4">
            <h1><ion-icon name="alert-circle-sharp" color="danger"></ion-icon><br>
              {{client.onOverdueClient}}<br>
              <ion-button color="danger" [routerLink]="['/menu/dashboard/client-list/', 'Overdue']">Overdue</ion-button>
            </h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
