<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>New Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newCollectionForm" (ngSubmit)="createCollection()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="full">
            <ion-label>
              Date and Time: {{dateNow | date:'medium'}}
            </ion-label>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              Amount
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input formControlName="amount"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-button shape="round" type="submit" expand="full" color="primary"
            [disabled]="newCollectionForm.pristine || newCollectionForm.invalid">
              <ion-label>PAY</ion-label>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
