<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let client of clients">
    <ion-item>
      <ion-label>
        <h3>{{client.firstName}} {{client.lastName}} - {{("000"+client.clientId).slice(-4)}} </h3>
        <p>{{client.address}}, {{client.phoneNumber}}</p>
        <ion-chip *ngIf="client.status == 'active'" color="success">
          <ion-label>{{client.status}}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="client.status == 'inactive'" color="danger">
          <ion-label>{{client.status}}</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-searchbar animated></ion-searchbar>
  <ion-card *ngFor="let lista of listas">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="text-date">Lista ID: {{lista.listaId}} {{lista.alias}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="text-date">Alias: {{lista.alias}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="text-date">Start Date: {{lista.startDate | date:'MMM dd yyyy'}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="text-date">End Date: {{lista.endDate | date:'MMM dd yyyy'}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="text-date">Description: {{lista.description}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="dark-blue">
          <ion-label class="amount-size text-format" full no-margin>Total Amount: {{lista.totalAmount}}</ion-label>
        </ion-col>
        <ion-col class="sky">
          <ion-label class="amount-size text-format" full no-margin>DPA: {{lista.dpa}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="sapphire">
          <ion-label class="amount-size text-format" full no-margin>Amount Paid: {{lista.amountPaid}}</ion-label>
        </ion-col>
        <ion-col class="{{lista.color}}">
          <ion-label class="amount-size text-format" full no-margin>Balance: {{lista.balance}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button size="small" color="secondary" shape="round" [routerLink]="['/menu/client/lista/'+id+'/edit-lista/'+lista.id]">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col style="text-align: center">
            <ion-button size="small" color="tertiary" shape="round" (click)="mycollection(id, lista.id, lista.startDate, 
                                                                                            lista.endDate, lista.totalAmount, lista.dpa,
                                                                                            lista.amountPaid, lista.balance, lista.status)">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-button size="small" color="danger" shape="round" (click)="deleteLista(lista.id)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small">
    <ion-fab-button [routerLink]="['/menu/client/lista/'+id+'/new-lista/'+clientId+'/'+lista]" routerDirection="forward">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
